# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
*.env
.env.*

# Virtualenv
venv/
env/
ENV/
.venv/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (если хочешь игнорировать)
**/migrations/*.pyc
**/migrations/__pycache__/
# **/migrations/  ← если хочешь игнорировать вообще (не рекомендую)

# Static/media (если генерируются)
staticfiles/
media/

# VSCode settings (если используешь)
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# MyPy
.mypy_cache/

# Git
*.orig
.gitignore